[Unit]
Description=imaptools DockerCompose service
Before=
After=docker.service network.service
Requires=docker.service
[Service]
StandardOutput=journal
StandardError=journal
Environment="PATH=/bin:/usr/sbin:/usr/bin:/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/sbin:/usr/local/bin:/snap/bin"
Restart=on-failure
RestartSec=0
TimeoutSec=300
WorkingDirectory=/srv/docker/imaptools
ExecStartPre=/usr/bin/env docker-compose config
# ExecStartPre=/usr/bin/env docker-compose pull
ExecStartPre=/usr/bin/env docker-compose config
ExecStart=/usr/bin/env    docker-compose up
ExecStop=/usr/bin/env     docker-compose config
ExecStop=/usr/bin/env     docker-compose stop
ExecStopPost=/usr/bin/env docker-compose config
ExecStopPost=/usr/bin/env docker-compose down
# vim:set ft=systemd:
